
<!DOCTYPE HTML>
<html>
  <head>
    <title>eLab Report Generator</title>
  </head>
  <body>
    <h1>eLab Report Generator</h1>
    <form method="POST" action="">
      <div>Register Number &nbsp; <input type="text" name="name"></div>
      <br>
      <div>Password <input style="margin-left:57px;" type="password" name="password"></div>
      <br>

      eLab <select style="margin-left:86px;" name="elab">
        <option value="java1">CSE-JAVA-1</option>
        <option value="java2">CSE-JAVA-2</option>
        <option value="ada">CSE-ADA</option>
        <option value="pdd">CSE-PDD</option>
        <option value="it_java">IT-JAVA</option>
        <option value="it_ada">IT-ADA</option>
      </select><br><br>

      Level <select style="margin-left:83px;" name="level">
        <option value="1">Level 1</option>
        <option value="2">Level 2</option>
        <option value="3">Level 3</option>
      </select>

      <input style="margin-left:44px;" type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
